body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#custom-table {
  min-width: 850px; 
}
#fontStyle{
  font-weight:bolder;
}
#textStyle{
  text-align: center;
}



